*, :before, :after {
  box-sizing: border-box;
}

ul, ol, figure, pre {
  margin: 2em 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2% 5%;

  & > header nav {
    justify-content: space-between;
    margin-bottom: 4rem;
    display: flex;

    & > a:first-child {
      background: url("/img/avatar-rounded.jpg") 0 / 2em no-repeat;
      padding-left: 2.5em;
    }

    & a {
      padding: 1em 0;
    }
  }

  & article {
    & > header {
      margin-bottom: 2rem;
    }

    & > section {
      max-width: 650px;
      margin: 0 auto;
    }
  }

  & > footer {
    border-top: 1px solid var(--gray-200);
    margin-top: 8rem;

    & nav {
      gap: .5em;
      padding: 1rem 0;
      display: flex;

      & a {
        opacity: .8;
      }

      & a:hover {
        opacity: 1;
      }

      & a:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
